@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.menu-user {
    display: flex;
    color: rgb(155, 139, 139);
}

.div-add-musics {
    display: flex;
}

.div-add-musics > p {
    margin-left: 10px;
    font-weight: 500;
    padding: 0 8px;
    background-color: rgba(128, 128, 128, 0.404);
    border-radius: 10px;
    transition: 0.5s;
}

.div-add-musics > p:hover {
    background-color: rgba(128, 128, 128, 0.603);
}

.menu-user > h3 {
    font-size: 20px;
    margin: 20px auto;
}

.menu-user > h3:hover {
    transition: 0.5s;
    color: white;
}

a {
    color: rgb(155, 139, 139);
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    color: #ffffff;
}

.body {
    display: flex;
    color: white;
    width: 100%;
	background-color: rgb(65, 61, 61);
	font-family: 'Quicksand', sans-serif;
}

.content {
	margin: 20px 30px 50px 0;
}

.section-content-title{
    display: flex;
    margin-top: 20px;
}

.section-content-title > h1{
    text-align: left;
    width: 600px;
    margin-left: 50px;
    font-size: 18pt;
}

.section-content-title > h3 > a{
    color:rgb(155, 139, 139);
    text-align: right;
    margin-left: 400px;
    font-size: 15pt;
}

.content > a:hover {
    text-decoration: overline;
}

.section-content-albuns{
    display: flex;
}

.navbar-brand > h3 {
    margin-top: 10px;
    font-size: 12pt;
}

.navbar-brand > h4 {
    color: #7e7e7e;
    margin-top: 10px;
    font-size: 12pt;
}

.section-content-albuns-album{
    background-color: rgb(49, 46, 46);
    margin: 0 30px 0 30px;
    width: 190px;
    text-align: center;
    border-radius: 10px;
    transition: 0.4s;
}

.section-content-albuns-album:hover{
    background-color: rgb(80, 71, 71);
}

.section-content-albuns-album-img:hover{
    width: 90%;
}

.section-content-albuns-album-img{
    width: 80%;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.435) 0px 8px 24px, rgba(0, 0, 0, 0.435) 0px 8px 24px, rgba(0, 0, 0, 0.435) 0px 8px 24px;
    transition: 0.4s;
}

.btn-del {
    width: 75px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(226, 55, 55);
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.btn-upd {
    width: 75px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(101, 98, 228);
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.3);
    color: white;
    line-height: 1px;
}