@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.support {
	text-align: center;
    background-color: rgb(65, 61, 61);
	font-family: 'Quicksand', sans-serif;
	color: white;
}

.div-support {
	padding: 50px 200px 50px 200px;
}

.div-support > h2 {
	margin-top: 30px;
}

h1.title {
	text-align: center;
}

h1 a, h1 a:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: 600;
}

h1 img {
	color: white;
	width: 15rem;
}

table {
	max-width: 960px;
	margin: 50px auto;
}

td.pergunta, td.resposta {
	border: 1px solid rgb(255, 255, 255);
	padding: 1rem;
}

.pergunta {
	background-color: #858585;
}